<div>
    <h2>
        <span>Sale Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-sale-history" [routerLink]="['/', { outlets: { popup: ['sale-history-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Sale History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="saleHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="count"><span>Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span>Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sum"><span>Sum</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tire.id"><span>Tire</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let saleHistory of saleHistories ;trackBy: trackId">
                <td><a [routerLink]="['../sale-history', saleHistory.id ]">{{saleHistory.id}}</a></td>
                <td>{{saleHistory.count}}</td>
                <td>{{saleHistory.price}}</td>
                <td>{{saleHistory.sum}}</td>
                <td>
                    <div *ngIf="saleHistory.tire">
                        <a [routerLink]="['../tire', saleHistory.tire?.id ]" >{{saleHistory.tire?.model}}</a>
                    </div>
                </td>
                <td>{{saleHistory.createdBy}}</td>
                <td>{{saleHistory.createdDate | date:'dd/MM/yy HH:mm'}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sale-history', saleHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sale-history/'+ saleHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sale-history/'+ saleHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="saleHistories && saleHistories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
